/*---------- Header ------------------------------------------------------------------------*/
.header {
  position: fixed;
  height: 80px;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 10000;
}

.navbar {
  padding: 0 60px;
  height: 100%;
}

.nav-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.navbar-brand img {
  width: 80%;
}

.navbar_icon {
  display: none;
}

.nav-item {
  margin-right: 60px;
}

.nav-item.nav-contact {
  margin-right: 0;
}

.nav-item.nav-contact .nav-link {
  user-select: none;
  border: 1px solid var(--color-premium-1);
  border-radius: 40px;
  color: var(--color-premium-1) !important;
  padding-left: 30px;
  padding-right: 30px;
}

.nav-item.nav-contact:hover .nav-link {
  color: var(--color-neutral-4) !important;
  background-color: var(--color-premium-1);
}

.root.on-contact .nav-link.active {
  color: var(--bs-nav-link-color) !important;
  font-weight: 500;
}

.nav-link.active {
  color: var(--color-premium-1) !important;
  font-weight: 700;
}

.collapse.navbar-collapse {
  justify-content: flex-end;
}

/*---------- about ------------------------------------------------------------------------*/
.about {
  position: relative;
  margin-top: 250px;
}
.about_title {
  font-size: 48px;
}

.about_sank-text {
  left: 6.5%;
  top: -2%;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.more_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 43px;
  width: 43px;
  border: 2px solid var(--color-premium-1);
  transition: all 0.1s ease-in-out;
}

.more_icon i {
  font-size: 20px;
  color: var(--color-premium-1);
}

.more_icon i::before {
  font-weight: bolder !important;
}

.more_icon:hover {
  background-color: var(--color-premium-1);
}

.more_icon:hover i {
  color: var(--color-neutral-4);
}
/*---------- services ------------------------------------------------------------------------*/
.service {
  background-color: var(--color-premium-4);
  padding: 240px 0;
}

.service_title {
  font-size: 32px;
}

.service_sank-text {
  left: 8.5%;
  -webkit-text-fill-color: var(--color-premium-4);
}

/*---------- client ------------------------------------------------------------------------*/
.client {
  padding: 240px 0;
}

.item_container {
  display: flex;
  /* background-color: var(--color-premium-4); */
}
.client_sank-text {
  position: relative !important;
  padding-left: 100px;
}
.client_content {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.client-item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#item1 {
  grid-column: 1 / 6;
}

#item2 {
  grid-column: 6 / 11;
}

#item3 {
  grid-column: 11 / 16;
}

#item4 {
  grid-column: 16 / 21;
}
#item5 {
  grid-column: 1 / 5;
}

#item6 {
  grid-column: 5 / 9;
}

#item7 {
  grid-column: 9 / 13;
}
#item8 {
  grid-column: 13 / 17;
}
#item9 {
  grid-column: 17 / 21;
}

/*---------- banner ------------------------------------------------------------------------*/
.banner {
  background-color: var(--color-premium-4);
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.banner_content {
  padding: 80px 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.banner_text-floating {
  font-weight: 700;
  line-height: 115%;
  user-select: none;
  text-transform: uppercase;
  -webkit-text-fill-color: var(--color-premium-1);
  margin: 40px 0;
}

.banner_text {
  font-size: 48px;
  text-transform: none;
  margin-bottom: 10px;
}

/*---------- footer------------------------------------------------------------------------*/
.footer_container {
  display: flex;
  padding-top: 80px;
  padding-bottom: 20px;
  justify-content: space-around;
  background-color: var(--color-premium-1);
}

.footer_box {
  margin: 0 50px;
}

.footer_box h3 {
  color: var(--color-neutral-4);
  margin-bottom: 30px;
}

.footer_box li {
  margin-bottom: 5px;
}

.footer_contact-box,
.footer_about-box {
  font-size: 14px;
  color: #dddddd;
}

.footer_icon {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 90px;
}

.footer_about {
  width: 27%;
}

.footer_contact {
  width: 27%;
}

.footer_contact ul {
  list-style: none;
}

.footer_contact li {
  display: flex;
}

.footer_contact span {
  margin-left: 10px;
}

.license {
  background-color: var(--color-premium-2);
}

.license_container {
  padding: 12px 0;
  display: flex;
  justify-content: center;
}

.license_container span {
  color: var(--color-neutral-4);
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
