/* pc */
@media (min-width: 1200px) {
  html {
    font-size: 55%;
  }

  .grid_wide {
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* tablet-mini */
@media (max-width: 990px) {
  html {
    font-size: 55%;
  }

  .grid_wide {
    width: 80%;
    margin: 0 auto;
  }

  .navbar-brand img {
    width: 70%;
  }

  .navbar-mobile {
    display: inline-block;
  }

  .navbar_icon {
    display: block;
  }

  .navbar_icon i {
    font-size: 30px;
  }

  .navbar_icon i::before {
    font-weight: bolder !important;
  }

  #list {
    display: inline-block;
  }

  #close {
    display: none;
  }

  .navbar_icon.active #list {
    display: none;
  }

  .navbar_icon.active #close {
    display: block;
  }

  .btn-custom {
    font-size: 14px;
  }

  .service_title {
    font-size: 24px;
  }

  .container-fluid {
    width: inherit;
  }

  .navbar-mobile .navbar-nav {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: all 0.2s linear;
    padding: 10px;
    margin-top: -1px;
  }

  .navbar-mobile .navbar-nav.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .navbar-mobile .navbar-nav li {
    display: block;
    border-radius: 3px;
    margin: 10px 0;
  }

  .navbar-mobile .navbar-nav li a {
    padding: 10px 40px;
  }

  .service .box_desc {
    width: 65%;
  }

  .box_desc {
    min-height: 350px;
  }

  .box_img img {
    width: 100%;
  }

  .box_content {
    padding: 70px 0;
    flex-direction: column;
  }

  .box_desc-text p {
    font-size: 12px;
  }

  .sank_text {
    top: 0;
    left: 0;
  }

  .box_title {
    top: 50%;
    position: absolute;
    left: -5%;
  }

  .carousel-control-prev {
    left: 44%;
    bottom: 0;
  }

  .carousel-control-next {
    right: 44%;
    bottom: 0;
  }

  /* header */
  .header {
    height: 70px;
  }

  /* about */
  .about {
    margin-top: 90px;
  }

  /* service */
  .service {
    padding-bottom: 100px;
  }
  .item_container {
    /* min-height: 300px; */
  }
  /* client */
  .client {
    padding-bottom: 0;
    padding-top: 50px;
  }

  .client_sank-text {
    padding: 0;
  }

  .client-item img {
    width: 80%;
  }

  .box_content {
    /* overflow: hidden; */
  }

  /* banner */
  .banner_text {
    font-size: 24px;
  }

  .banner_content {
    padding: 30px 70px;
  }

  .banner_img {
    display: flex;
    justify-content: end;
  }

  .banner_img img {
    width: 75%;
  }

  /* footer */
  .footer_box {
    width: inherit;
    margin-top: 40px;
    font-size: 32px;
  }

  .footer_icon {
    margin-left: 50px;
    justify-content: flex-start;
  }

  .footer_about ul {
    padding-left: 15px;
  }

  .footer_contact ul {
    padding: 0;
  }

  .footer_container {
    flex-direction: column;
  }

  .contact {
    padding-top: 100px;
  }

  .contact .box_img {
    margin-left: 0;
  }
  .mapouter,
  .gmap_canvas,
  .contact iframe {
    width: 100% !important;
  }
}

/* tablet-mini */
@media (max-width: 768px) {
  html {
    font-size: 55%;
  }

  .navbar-brand img {
    width: 70%;
  }
}

/* mobile */
@media (max-width: 480px) {
  html {
    font-size: 50%;
  }

  .carousel-control-prev {
    left: 0;
  }

  .carousel-control-next {
    right: 0;
  }

  .btn-carousel {
    border: none;
    top: 300px;
  }

  .btn-carousel:hover {
    background-color: inherit;
  }

  .btn-carousel i {
    font-size: 45px;
  }

  .btn-carousel:hover i {
    color: var(--color-premium-1);
  }

  .carousel-item {
    min-height: 650px !important;
  }

  .carousel-indicators {
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .navbar {
    padding: 0 20px;
  }

  .box_title {
    display: none;
  }

  .box_1 {
    top: 80%;
    left: 5%;
    width: 300px;
    height: 300px;
  }

  .btn-custom {
    padding: 10px 20px;
  }

  .sank_text {
    top: -0.2%;
    font-size: 40px;
  }

  .item_container {
    flex-direction: column;
  }

  .box_desc {
    width: 100% !important;
    min-height: inherit;
  }

  .box_img {
    margin-left: 0;
  }

  .about_title {
    font-size: 25px !important;
  }

  .about .box_content {
    padding: 60px 0;
  }

  .client .box_content {
    padding: 50px 0;
    min-height: 300px;
  }

  .service .box_content {
    padding: 65px 0;
  }
  .service {
    padding: 150px 0;
  }

  .service .title {
    font-size: 20px;
  }

  .contact .box_content {
    min-height: 400px;
  }

  .banner_content {
    padding: 15px 30px;
  }

  .banner_text-floating {
    margin: 20px 0;
  }
}
